button {
  cursor: pointer;
}

.hidden {
  display: none;
}

.visible {
  display: flex;
}

.board {
  background-color: #f0e68c;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3),
    -23px 0 20px -23px rgba(0, 0, 0, 0.8), 23px 0 20px -23px rgba(0, 0, 0, 0.8),
    0 0 40px rgba(0, 0, 0, 0.1) inset;
}

.board__main {
  display: flex;
  flex-flow: column wrap;
  margin: auto;
  max-width: 1100px;
  min-height: 98vh;
}

.board__header {
  display: flex;
  justify-content: space-between;
}

.board__title {
  height: 50px;
  margin-left: 5%;
  flex-grow: 1;
}

.board__divider {
  margin: 20px 0;
}

.board__add-btn, .board__filter-btn {
  height: 75px;
  width: 50px;
  margin-right: 5%;
  outline: none;
  border: none;
  padding: 0;
  background: none;
}

.board__add-btn:hover {
  transform: scale(1.05);
}

.board__filter-btn:hover {
  transform: scale(1.05);
}

.task-item {
  width: 90%;
  margin: auto;
  background-color: #7fffd4;
  border: 1px solid #808080;
  border-radius: 5px;
}

.task-item__regular-mode {
  display: flex;
}

.task-item__main {
  flex-grow: 1;
  align-self: center;
}

.task-item__main--urgency {
  font-size: 14px;
}

.task-item__main--text {
  font-size: 20px;
}

.task-item__edit-mode {
  display: flex;
  flex-flow: row nowrap;
}

.task-item__edit-form {
  width: 90%;
  margin: auto;
}

.modal {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.253);
}
.modal__form {
  margin: 20vh auto;
  max-width: 500px;
  height: 250px;
  background: #ffffff;
  border: 1px solid #008000;
  border-radius: 5px;
}

.modal__form label {
  display: block;
  width: 80%;
  margin: 20px auto;
}

.modal__form textarea {
  width: 99%;
  height: 100px;
}

.modal__buttons {
  display: flex;
  justify-content: space-evenly;
}
